* {
    box-sizing: border-box;
}

::selection {
    background-color: deepskyblue;
    color: white;
}
a::selection {
    color: blue;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4em;
}

.wrapper {
    margin: 0 auto;
    max-width: 700px;
    height: 100vh;
    background-color: white;
}

a {
    color: deepskyblue;
}

/* Header */
header {
    padding: 20px;
    background-color: deepskyblue;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
header strong {
    padding: 2px 5px;
    background-color: black;
    text-transform: uppercase;
}
header a {
    color: black;
}
header a:hover {
    color: dimgrey;
}

/* Page content */
#how_to_use {
    padding: 20px;
}
.example {
    padding: 20px;
    overflow: hidden;
    border: 1px dashed black;
}

/* Footer */
footer {
    padding: 20px;
}
footer p {
    text-align: right;
}
